@font-face{
    font-family:"sf";
    src:url("sf-pro-display_regular.ttf") format("opentype");
}
body{
    background-color: #212121;
    # background-color: black;
    color: #fff;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

a{
    color: #4caf50;
    text-decoration:none;
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 0.01%;
}

.nav{
    padding: 3%;
}

#navdiv{
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 0.5%;
}

*{
    font-family: "sf";
}

p{
    line-height: 25px;
}
